* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 700;
}

.container1{
    padding-top:200px ;
    padding-left: 200px;
}

.container2{
    padding-bottom: 400px;
}


.patio1{
    position:absolute;
    border:2px solid black;
    height: 300px;
    width: 300px;
    margin-top: 90px;
}

.patio2{
    position:absolute;

    border:2px solid black;
    height: 100px;
    width: 80px;
    margin-top:50px;
    margin-left: 210px;
}

.patio3{
    position:absolute;

    border:2px solid black;
    height: 400px;
    width: 300px;
    margin: 100px;
}
.patio4{
    position:absolute;

    border:2px solid black;
    height: 150px;
    width: 200px;
    margin-bottom:500px;
    margin-left: 300px;
}
.patio5{
    position:absolute;

    border:2px solid black;
    height: 500px;
    width: 800px;
    text-align: center;
    margin-left:100px;
    margin-top: 150px;
}

.patio6{
    position:absolute;
    border:2px solid black;
    height:80px;
    width: 150px;
    margin-left:348px;
}

.patio7{
    position:absolute;

    border:2px solid black;
    height: 100px;
    width: 200px;
    margin-left:200px;
    margin-top: 30px;
}

.patio8{
    position:absolute;
    border:2px solid black;
    height:100px;
    width: 150px;
    margin-left:440px;
    margin-top: 30px;

}


.patio9{
    position:absolute;
    border:2px solid black;
    height:100px;
    width: 150px;
    margin-left:760px;
    margin-top: 30px;

}

.patio10{
    position:absolute;
    border: 2px solid black;
    height:700px;
    width: 500px;
    margin-left: 1000px;
}

.patio11{
    position:absolute;
    border:2px solid black;
    height:150px;
    width: 140px;
    margin-left:600px;

}

.filled { background-color: lightgreen; }
